body {
        --primary: 25,91,255;
        --color: 44, 62, 80;
        --bg: 255, 255, 255;
        --red: 255, 0, 78;
        height: 100vh;
        background: #F4F7F8;
        height: calc(var(--vh, 1vh) * 100);
        overflow: auto;
        color: rgb(var(--color));
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 50px;
    }
    * {
        list-style: none;
        outline: none;
        padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
    }
    .con-accordion {
        background: #fff;
        padding: 25px;
        border-radius: 30px;
        max-width: 630px;
        width: 100%;
    }
    .open header h3 {
        opacity: 1 !important;
        padding-left: 4px;
    }
    .open header .con-icon {
        transform: scale(1.1);
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,.16);
    }
    .open header .con-icon i{
        transform: rotate(135deg);
    }
    .accordion-item h3 {
        pointer-events: none;
        user-select: none;
        opacity: .6;
        transition: all .25s ease;
        font-weight: normal;
    }
    .accordion-item header {
        padding: 12px 15px;
        cursor: pointer;
        transition: all .25s ease;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .accordion-item header:hover h3 {
        opacity: 1;
    }
    .accordion-item:not(.open) header:hover h3 {
        padding-left: 4px;
    }
    .accordion-content {
        height: 0px;
        overflow: hidden;
        transition: all .25s ease;
    }
    .accordion-content p {
        padding: 15px 20px;
        padding-top: 10px;
        opacity: .8;
        user-select: none;
        border-bottom: 1px dashed rgba(0,0,0,.08);
        border-top: 1px dashed rgba(0,0,0,.08);
        font-size: .9rem;
    }
    .con-icon {
        width: 28px;
        height: 28px;
        background: #000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        color: #fff;
        pointer-events: none;
        margin-right: 15px;
        transition: all .25s ease;
    }
    .con-icon i {
        transition: all .25s ease;
    }